@import "../../../main-styles.scss";

.task-list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2em;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

.task-row {
    display: flex;
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;
    align-items: center;

    &:not(.complete) {
        cursor: pointer;
        transition: box-shadow 0.2s ease, transform 0.2s ease;

        &:active {
            transform: scale(0.95);
        }

        &:hover {
            box-shadow: 0 0 0 5px #dfdede;
            flex-direction: column;
            align-items: flex-start;

            .task-description {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &.completed {
        text-decoration: line-through;
        opacity: 0.8;
    }

    .task-text {
        flex-grow: 1;
    }

    .task-description {
        opacity: 0;
    }
}