<div class="reminders is-centered">
    <h1 class="centered-content title">
        {{ day }} Tasks
    </h1>
    <div class="task-list-container">
        <div *ngIf="taskView">
            <!-- Task Elements -->
            <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)"
                [ngClass]="{'completed': task.completed}">
                <label class="checkbox">
                    <input type="checkbox">
                    <p>{{ task.title }}</p>
                </label>
            </div>
            <div class="field is-grouped is-grouped-right">
                <button class="button circle-add-button is-primary is-large has-text-white" routerLink='./new-task'>
                    <h1>+</h1>
                </button>
            </div>
        </div>
    </div>
</div>