<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="../../assets/PTX.png" width="30" height="30">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink='/'>
        Home
      </a>

      <a class="navbar-item" routerLink='/lists'>
        Lists
      </a>

      <a class="navbar-item" routerLink='/shopping'>
        Shopping
      </a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" routerLink='/login'>
        Login
      </a>
    </div>
  </div>
</nav>