<div class="centetred-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>
            <div class="list-menu">
                <a class="list-menu-item">
                    <p>Monday</p>
                </a>
                <a class="list-menu-item">
                    <p>Tuesday</p>
                </a>
                <a class="list-menu-item">
                    <p>Wednesday</p>
                </a>
            </div>
            <button class="button is-primary has-text-white">New List</button>
        </div>
        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
                Tasks
            </h1>
            <!-- Task Elements -->
            <div class="task">
                <p>Make Breakfast</p>
            </div>
            <div class="task">
                <p>Clean Kitchen</p>
            </div>
        </div>
    </div>
</div>
